/Shared.Api/nuget.config
/Shared.Application/nuget.config
/.vs/Shared
/Shared.Api/bin/Release/net9.0
/Shared.Api/bin/Release/net9.0/Shared.Api.pdb
/Shared.Api/bin/Release/net9.0/Shared.Api.dll
/Shared.Api/bin/Release/Shared.Api.1.0.1.nupkg
/Shared.Api/bin/Release/Shared.Api.1.0.1.symbols.nupkg
/Shared.Api/bin/Release/Shared.Api.1.0.2.nupkg
/Shared.Api/bin/Release/Shared.Api.1.0.2.symbols.nupkg
/Shared.Application/bin/Debug/net9.0/Shared.Application.deps.json
/Shared.Application/bin/Debug/net9.0/Shared.Application.dll
/Shared.Application/bin/Debug/net9.0/Shared.Application.pdb
/Shared.Application/bin/Debug/Shared.Application.1.0.1.nupkg
/Shared.Application/bin/Debug/Shared.Application.1.0.1.symbols.nupkg
/Shared.Application/bin/Release/net9.0/Shared.Application.deps.json
/Shared.Application/bin/Release/net9.0/Shared.Application.dll
/Shared.Application/bin/Release/net9.0/Shared.Application.pdb
/Shared.Application/bin/Release/Shared.Application.1.0.1.nupkg
/Shared.Application/bin/Release/Shared.Application.1.0.1.symbols.nupkg
/Shared.Application/bin/Release/Shared.Application.1.0.2.nupkg
/Shared.Application/bin/Release/Shared.Application.1.0.2.symbols.nupkg
/Shared.Application/obj/Debug/net9.0/ref/Shared.Application.dll
/Shared.Application/obj/Debug/net9.0/refint/Shared.Application.dll
/Shared.Application/obj/Debug/net9.0/Shared.Application.AssemblyInfo.cs
/Shared.Application/obj/Debug/net9.0/Shared.Application.AssemblyInfoInputs.cache
/Shared.Application/obj/Debug/net9.0/Shared.Application.assets.cache
/Shared.Application/obj/Debug/net9.0/Shared.Application.csproj.AssemblyReference.cache
/Shared.Application/obj/Debug/net9.0/Shared.Application.csproj.CoreCompileInputs.cache
/Shared.Application/obj/Debug/net9.0/Shared.Application.csproj.FileListAbsolute.txt
/Shared.Application/obj/Debug/net9.0/Shared.Application.dll
/Shared.Application/obj/Debug/net9.0/Shared.Application.GeneratedMSBuildEditorConfig.editorconfig
/Shared.Application/obj/Debug/net9.0/Shared.Application.GlobalUsings.g.cs
/Shared.Application/obj/Debug/net9.0/Shared.Application.pdb
/Shared.Application/obj/Debug/net9.0/Shared.Application.sourcelink.json
/Shared.Application/obj/Debug/Shared.Application.1.0.1.nuspec
/Shared.Application/obj/Debug/Shared.Application.1.0.1.symbols.nuspec
/Shared.Application/obj/Release/net9.0/ref/Shared.Application.dll
/Shared.Application/obj/Release/net9.0/refint/Shared.Application.dll
/Shared.Application/obj/Release/net9.0/Shared.Application.AssemblyInfo.cs
/Shared.Application/obj/Release/net9.0/Shared.Application.AssemblyInfoInputs.cache
/Shared.Application/obj/Release/net9.0/Shared.Application.assets.cache
/Shared.Application/obj/Release/net9.0/Shared.Application.csproj.AssemblyReference.cache
/Shared.Application/obj/Release/net9.0/Shared.Application.csproj.CoreCompileInputs.cache
/Shared.Application/obj/Release/net9.0/Shared.Application.csproj.FileListAbsolute.txt
/Shared.Application/obj/Release/net9.0/Shared.Application.dll
/Shared.Application/obj/Release/net9.0/Shared.Application.GeneratedMSBuildEditorConfig.editorconfig
/Shared.Application/obj/Release/net9.0/Shared.Application.GlobalUsings.g.cs
/Shared.Application/obj/Release/net9.0/Shared.Application.pdb
/Shared.Application/obj/Release/net9.0/Shared.Application.sourcelink.json
/Shared.Application/obj/Release/Shared.Application.1.0.1.nuspec
/Shared.Application/obj/Release/Shared.Application.1.0.1.symbols.nuspec
/Shared.Application/obj/Release/Shared.Application.1.0.2.nuspec
/Shared.Application/obj/Release/Shared.Application.1.0.2.symbols.nuspec
/Shared.Application/obj/project.assets.json
/Shared.Application/obj/project.nuget.cache
/Shared.Application/obj/project.packagespec.json
/Shared.Application/obj/rider.project.model.nuget.info
/Shared.Application/obj/rider.project.restore.info
/Shared.Application/obj/Shared.Application.csproj.nuget.dgspec.json
/Shared.Application/obj/Shared.Application.csproj.nuget.g.props
/Shared.Domain/bin/Debug/net9.0/Shared.Domain.deps.json
/Shared.Domain/bin/Debug/net9.0/Shared.Domain.dll
/Shared.Domain/bin/Debug/net9.0/Shared.Domain.pdb
/Shared.Domain/bin/Debug/Shared.Domain.1.0.1.nupkg
/Shared.Domain/bin/Debug/Shared.Domain.1.0.1.symbols.nupkg
/Shared.Domain/bin/Release/net9.0/Shared.Domain.deps.json
/Shared.Domain/bin/Release/net9.0/Shared.Domain.dll
/Shared.Domain/bin/Release/net9.0/Shared.Domain.pdb
/Shared.Domain/bin/Release/Shared.Domain.1.0.1.nupkg
/Shared.Domain/bin/Release/Shared.Domain.1.0.1.symbols.nupkg
/Shared.Infra/obj/project.assets.json
/Shared.Infra/obj/project.nuget.cache
/Shared.Infra/obj/project.packagespec.json
/Shared.Infra/obj/Release/net9.0/Shared.Infra.dll
/Shared.Infra/obj/Release/net9.0/Shared.Infra.GeneratedMSBuildEditorConfig.editorconfig
/Shared.Infra/obj/Release/net9.0/Shared.Infra.GlobalUsings.g.cs
/Shared.Infra/obj/Release/net9.0/Shared.Infra.pdb
/Shared.Infra/obj/Release/net9.0/Shared.Infra.sourcelink.json
/Shared.Infra/obj/Release/Shared.Infra.1.0.1.nuspec
/Shared.Infra/obj/Release/Shared.Infra.1.0.1.symbols.nuspec
/Shared.Infra/obj/rider.project.model.nuget.info
/Shared.Infra/obj/rider.project.restore.info
/Shared.Infra/obj/Shared.Infra.csproj.nuget.dgspec.json
/Shared.Infra/obj/Shared.Infra.csproj.nuget.g.props
/Shared.Domain/obj/Debug/net9.0/ref/Shared.Domain.dll
/Shared.Domain/obj/Debug/net9.0/refint/Shared.Domain.dll
/Shared.Domain/obj/Debug/net9.0/Shared.Domain.AssemblyInfo.cs
/Shared.Domain/obj/Debug/net9.0/Shared.Domain.AssemblyInfoInputs.cache
/Shared.Domain/obj/Debug/net9.0/Shared.Domain.assets.cache
/Shared.Domain/obj/Debug/net9.0/Shared.Domain.csproj.CoreCompileInputs.cache
/Shared.Domain/obj/Debug/net9.0/Shared.Domain.csproj.FileListAbsolute.txt
/Shared.Domain/obj/Debug/net9.0/Shared.Domain.dll
/Shared.Domain/obj/Debug/net9.0/Shared.Domain.GeneratedMSBuildEditorConfig.editorconfig
/Shared.Domain/obj/Debug/net9.0/Shared.Domain.GlobalUsings.g.cs
/Shared.Domain/obj/Debug/net9.0/Shared.Domain.pdb
/Shared.Domain/obj/Debug/net9.0/Shared.Domain.sourcelink.json
/Shared.Domain/obj/Debug/Shared.Domain.1.0.1.nuspec
/Shared.Domain/obj/Debug/Shared.Domain.1.0.1.symbols.nuspec
/Shared.Domain/obj/Release/net9.0/ref/Shared.Domain.dll
/Shared.Domain/obj/project.assets.json
/Shared.Domain/obj/project.nuget.cache
/Shared.Domain/obj/Release/net9.0/refint/Shared.Domain.dll
/Shared.Domain/obj/Release/net9.0/Shared.Domain.AssemblyInfo.cs
/Shared.Domain/obj/Release/net9.0/Shared.Domain.AssemblyInfoInputs.cache
/Shared.Domain/obj/Release/net9.0/Shared.Domain.csproj.FileListAbsolute.txt
/Shared.Domain/obj/Release/net9.0/Shared.Domain.dll
/Shared.Domain/obj/Release/net9.0/Shared.Domain.pdb
/Shared.Domain/obj/Release/net9.0/Shared.Domain.sourcelink.json
/Shared.Domain/obj/Release/Shared.Domain.1.0.1.nuspec
/Shared.Domain/obj/Release/Shared.Domain.1.0.1.symbols.nuspec
/Shared.Domain/obj/rider.project.model.nuget.info
/Shared.Domain/obj/rider.project.restore.info
/Shared.Domain/obj/Shared.Domain.csproj.nuget.dgspec.json
/Shared.Domain/obj/Shared.Domain.csproj.nuget.g.props
/Shared.Infra/bin/Debug/net9.0/Shared.Infra.deps.json
/Shared.Infra/bin/Debug/net9.0/Shared.Infra.dll
/Shared.Infra/bin/Debug/net9.0/Shared.Infra.pdb
/Shared.Infra/bin/Debug/Shared.Infra.1.0.1.nupkg
/Shared.Infra/bin/Debug/Shared.Infra.1.0.1.symbols.nupkg
/Shared.Infra/bin/Release/net9.0/Shared.Infra.deps.json
/Shared.Infra/bin/Release/net9.0/Shared.Infra.dll
/Shared.Infra/bin/Release/net9.0/Shared.Infra.pdb
/Shared.Infra/bin/Release/Shared.Infra.1.0.1.nupkg
/Shared.Infra/bin/Release/Shared.Infra.1.0.1.symbols.nupkg
/Shared.Infra/obj/Release/net9.0/Shared.Infra.csproj.FileListAbsolute.txt
/Shared.Infra/obj/Debug/net9.0/ref/Shared.Infra.dll
/Shared.Infra/obj/Debug/net9.0/refint/Shared.Infra.dll
/Shared.Infra/obj/Debug/net9.0/Shared.Infra.AssemblyInfo.cs
/Shared.Infra/obj/Debug/net9.0/Shared.Infra.AssemblyInfoInputs.cache
/Shared.Infra/obj/Debug/net9.0/Shared.Infra.assets.cache
/Shared.Infra/obj/Debug/net9.0/Shared.Infra.csproj.AssemblyReference.cache
/Shared.Infra/obj/Debug/net9.0/Shared.Infra.csproj.CoreCompileInputs.cache
/Shared.Infra/obj/Debug/net9.0/Shared.Infra.csproj.FileListAbsolute.txt
/Shared.Infra/obj/Debug/net9.0/Shared.Infra.dll
/Shared.Infra/obj/Debug/net9.0/Shared.Infra.GeneratedMSBuildEditorConfig.editorconfig
/Shared.Infra/obj/Debug/net9.0/Shared.Infra.GlobalUsings.g.cs
/Shared.Infra/obj/Debug/net9.0/Shared.Infra.pdb
/Shared.Infra/obj/Debug/net9.0/Shared.Infra.sourcelink.json
/Shared.Infra/obj/Debug/Shared.Infra.1.0.1.nuspec
/Shared.Infra/obj/Debug/Shared.Infra.1.0.1.symbols.nuspec
/Shared.Infra/obj/Release/net9.0/ref/Shared.Infra.dll
/Shared.Infra/obj/Release/net9.0/refint/Shared.Infra.dll
/Shared.Infra/obj/Release/net9.0/Shared.Infra.AssemblyInfo.cs
/Shared.Infra/obj/Release/net9.0/Shared.Infra.AssemblyInfoInputs.cache
/Shared.Infra/obj/Release/net9.0/Shared.Infra.assets.cache
/Shared.Infra/obj/Release/net9.0/Shared.Infra.csproj.AssemblyReference.cache
/Shared.Infra/obj/Release/net9.0/Shared.Infra.csproj.CoreCompileInputs.cache
/.vs/ProjectEvaluation
/Shared.Api/bin/Debug
/Shared.Application/bin/Debug
/Shared.RabbitMq/bin/Release
/Shared.RabbitMq/obj
/Shared.Application/obj/Debug
/Shared.Api/obj/Debug/net9.0/refint
/Shared.Api/obj/Debug/net9.0/ref
/Shared.Api/obj/Debug/net9.0/Shared.Api.AssemblyInfo.cs
/Shared.Api/obj/Debug/net9.0/Shared.Api.AssemblyInfoInputs.cache
/Shared.Api/obj/Debug/net9.0/Shared.Api.csproj.AssemblyReference.cache
/Shared.Api/obj/Debug/net9.0/Shared.Api.csproj.CoreCompileInputs.cache
/Shared.Api/obj/Debug/net9.0/Shared.Api.csproj.FileListAbsolute.txt
/Shared.Api/obj/Debug/net9.0
/Shared.Api/obj/Debug
/Shared.Api/obj/project.assets.json
/Shared.Api/obj/project.nuget.cache
/Shared.Api/obj/Shared.Api.csproj.nuget.dgspec.json
/Shared.Rabbit/bin/Release
/Shared.Rabbit/obj/Debug/net9.0
/Shared.Rabbit/obj
/Shared.Api/bin/Release/Shared.ApiLayer.1.0.0.nupkg
/Shared.Api/bin/Release/Shared.ApiLayer.1.0.0.symbols.nupkg
/Shared.Api/obj/Debug/net9.0/ref/Freelance.Shared.Api.dll
/Shared.Api/obj/Debug/net9.0/refint/Freelance.Shared.Api.dll
/Shared.Api/obj/Release/net9.0/ref/Shared.Api.dll
/Shared.Api/obj/Release/net9.0/refint/Freelance.Shared.Api.dll
/Shared.Api/obj/Release/net9.0/Freelance.Shared.Api.AssemblyInfo.cs
/Shared.Api/obj/Release/net9.0/refint/Shared.Api.dll
/Shared.Api/obj/Release/net9.0/Shared.Api.AssemblyInfo.cs
/Shared.Rabbit/bin/Debug
/Shared.Infra/bin/Release/Shared.Infra.1.0.0.nupkg
/Shared.Infra/bin/Release/Shared.Infra.1.0.0.symbols.nupkg
/Shared.Infra/bin/Release/Shared.InfraLayer.1.0.0.nupkg
/Shared.Infra/bin/Release/Shared.InfraLayer.1.0.0.symbols.nupkg
/Shared.Infra/bin/Debug/Shared.InfraLayer.1.0.0.nupkg
/Shared.Infra/bin/Debug/Shared.InfraLayer.1.0.0.symbols.nupkg
*.config
/Shared.Domain/obj/Shared.Domain.csproj.nuget.g.targets
/Shared.Api/obj/Release/net9.0/Shared.Api.AssemblyInfoInputs.cache
/Shared.Api/obj/Release/net9.0/Shared.Api.assets.cache
/Shared.Api/obj/Release/net9.0/Shared.Api.csproj.AssemblyReference.cache
/Shared.Api/obj/Release/net9.0/Shared.Api.csproj.FileListAbsolute.txt
/Shared.Api/obj/Release/net9.0/Shared.Api.dll
/Shared.Infra/obj/Shared.Infra.csproj.nuget.g.targets
/Shared.Api/obj/Release/net9.0/Shared.Api.csproj.CoreCompileInputs.cache
/Shared.Api/obj/Release/net9.0/Shared.Api.pdb
/Shared.Api/obj/Release/net9.0/Shared.Api.sourcelink.json
/Shared.Domain/obj/Release/net9.0/Shared.Domain.GlobalUsings.g.cs
